<header>
  <div class="container">
    <nav><img class="logo" src="/assets/logo.png" alt="" /></nav>
    <h1><span class="hollow">Не</span>Просто банка</h1>
    <div class="description">
      <p>Функциональный контейнер для пищи, предметов быта и не только</p>
      <div class="btn" (click)="emit()">купить банку</div>
    </div>
    <div class="properties">
      <a href="#why"
        >Смотреть характеристики<img src="/assets/arrow.png" alt=""
      /></a>
    </div>
    <img class="mainBanka" src="/assets/banka.png" alt="" />
  </div>
</header>
