<div class="container">
  <div class="cols">
    <img id="bottombanka" src="/assets/footer.png" alt="" />
    <div class="price">
      <h2>Отдаем почти даром</h2>
      <p>50 uah</p>
      <div class="btn">купить банку</div>
    </div>
  </div>
  <div class="logo footerlogo">
    <a id="bottomlogo" href="https://www.katrukdesign.com/"
      ><img src="/assets/footerlogo.png" alt=""
    /></a>
    <div class="links">
      <span><a href="https://www.katrukdesign.com/">Сайт студии</a></span
      ><span
        ><a href="https://www.instagram.com/katrukdesign/">Инстаграм</a></span
      >
    </div>
    <div class="scroll">
      <a href="#">
        <img class="scroller" src="/assets/scroll.png" alt="" />
        <span>Наверх</span></a
      >
    </div>
  </div>
</div>
