.banner {
  padding: 3rem 0;
  color: #6a23e6;
  background-color: #fff;
  width: max-content;
  overflow: hidden;

  font-weight: bold;
  font-size: max(1.875rem, 24px);
  line-height: 140%;

  letter-spacing: 0.02em;
  text-transform: uppercase;
}
