.wrapper {
  background: #6a23e6;
  color: white;
  section {
    margin-bottom: 5rem;
    padding: 5rem 0;
  }
  .title {
    font-size: max(2.5rem, 34px);
    max-width: max(25rem, 280px);
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  #why {
    padding-top: 6.5rem;
    .title {
      margin-bottom: 5rem;
    }
  }
  .reason {
    .bubbles {
      position: absolute;
      width: max(19rem, 150px);
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-fill-mode: none;
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
    .pos1 {
      top: 15%;
      right: 0;
      animation-name: animation_1_1;
      animation-duration: 13s;
      animation-delay: 0s;
    }
    .pos2 {
      top: -8%;
      right: 20%;
      animation-name: animation_1_1;
      animation-duration: 32s;
      animation-delay: 0s;
    }
    .pos3 {
      right: 15%;
      top: 55%;
      animation-name: animation_1_2;
      animation-duration: 18s;
      animation-delay: 0s;
    }
    .pos4 {
      top: 25%;
      right: 25%;

      animation-name: animation_1_3;
      animation-duration: 9s;
      animation-delay: 0s;
    }
    .pos5 {
      bottom: 0%;
      right: 40%;
      animation-name: animation_1_4;
      animation-duration: 14s;
      animation-delay: 0s;
    }
    .pos6 {
      top: 12%;
      right: 45%;
      animation-name: animation_1_5;
      animation-duration: 15s;
      animation-delay: 0s;
    }
    .pos7 {
      top: 0%;
      left: 0%;
      animation-name: animation_1_6;
      animation-duration: 17s;
      animation-delay: 0s;
    }
    .pos8 {
      top: 40%;
      left: -3%;
      animation-name: animation_1_7;
      animation-duration: 11s;
      animation-delay: 0s;
    }
    .pos9 {
      animation-name: animation_1_7;
      animation-duration: 11s;
      animation-delay: 0s;
      top: -5%;
      right: 28%;
    }
    .pos10 {
      animation-name: animation_1_4;
      animation-duration: 14s;
      animation-delay: 0s;
      top: -20%;
      right: -8%;
    }
    .pos11 {
      animation-name: animation_1_7;
      animation-duration: 14s;
      animation-delay: 0s;
      bottom: -10%;
      right: -5%;
    }
    .pos12 {
      animation-name: animation_1_5;
      animation-duration: 5s;
      animation-delay: 0s;
      bottom: -10%;
      left: 20%;
    }
    .pos13 {
      animation-name: animation_1_3;
      animation-duration: 8s;
      animation-delay: 0s;
      top: -20%;
      left: 5%;
    }
    .pos14 {
      animation-name: animation_1_1;
      animation-duration: 9s;
      animation-delay: 0s;
      top: 20%;
      left: -8%;
    }
    position: relative;
    .title {
      margin-bottom: max(4.7rem, 60px);
    }
    .content {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .layers {
        position: relative;
        .rel {
          position: relative;
          z-index: 1;
          width: max(22rem, 220px);
        }
        .abs {
          z-index: 0;
          position: absolute;
          right: -50%;
          width: 200%;
        }
      }
      .text {
        max-width: 565px;
        width: 50%;
        h3 {
          text-transform: uppercase;
          font-size: max(1.9rem, 24px);
          font-style: normal;
          font-weight: bold;
        }
        p {
          line-height: 140%;
          font-family: Inter;
          font-size: max(1.25rem, 16px);
          font-style: normal;
          font-weight: normal;
        }
      }
    }
  }
  .second {
    .content {
      .layers {
        order: 2;
      }
    }
  }
}
@media screen and (max-width: 670px) {
  .wrapper {
    .reason {
      .pos1 {
        top: 0%;
        right: -12%;
      }
      .pos2 {
        top: 30%;
        right: -12%;
      }
      .pos3 {
        top: 45%;
        right: -8%;
      }
      .pos4 {
        top: 60%;
        right: -6%;
      }
      .pos5 {
        top: 80%;
        right: -15%;
      }
      .pos6 {
        transform: scale(0.7);
        top: 60%;
        left: -15%;
      }
      .pos7 {
        transform: scale(1.2);
        top: 90%;
        left: 0%;
      }
      .pos8 {
        display: none;
      }
      .pos9 {
        top: 0%;
        right: -15%;
      }
      .pos10 {
        transform: scale(0.7);
        top: 25%;
        right: -10%;
      }
      .pos11 {
        top: 55%;
        right: -20%;
      }
      .pos12 {
        transform: scale(0.7);
        bottom: 5%;
        left: 80%;
      }
      .pos13 {
        transform: scale(1);
        top: 40%;
        left: 5%;
      }
      .pos14 {
        transform: scale(1);
        top: 80%;
        left: -20%;
      }
      .content {
        flex-direction: column;
        .layers {
          order: 2;
          .abs {
            display: none;
          }
        }
        .text {
          width: 100%;
          order: 1;
          margin-bottom: 50px;
        }
      }
    }
  }
}
