<div class="wrapper">
  <div class="container">
    <section id="why">
      <h3 class="title">Почему стоит выбрать банку?</h3>
      <app-row *ngFor="let r of rows" [row]="r"></app-row>
    </section>
  </div>
  <section class="reason">
    <div class="container">
      <h3 class="title">Ну и зачем она мне?</h3>
      <div class="content">
        <div class="layers">
          <img class="rel" src="/assets/fish.png" alt="" />
          <img class="abs" src="/assets/fishelips.png" alt="" />
        </div>
        <div class="text">
          <h3>АКВАРИУМ</h3>
          <p>
            Банка отлично подойдет в качестве домика для вашего домашнего
            питомца.
          </p>
          <p>
            Она проста в использовании и мыть огромную банку не так трудно как
            огромный аквариум. Хотите рыбку? Сначала купите банку
          </p>
        </div>
      </div>
    </div>
    <img src="/assets/bubble.png" alt="" class="bubbles pos1" />
    <img src="/assets/bubble.png" alt="" class="bubbles pos2" />
    <img src="/assets/bubble.png" alt="" class="bubbles pos3" />
    <img src="/assets/bubble.png" alt="" class="bubbles pos4" />
    <img src="/assets/bubble.png" alt="" class="bubbles pos5" />
    <img src="/assets/bubble.png" alt="" class="bubbles pos6" />
    <img src="/assets/bubble.png" alt="" class="bubbles pos7" />
    <img src="/assets/bubble.png" alt="" class="bubbles pos8" />
  </section>
  <section class="reason second">
    <div class="container">
      <div class="content">
        <div class="layers">
          <img class="rel" src="/assets/tree.png" alt="" />
        </div>
        <div class="text">
          <h3>Дом для растения</h3>
          <p>Хотите выращивать растения?</p>
          <p>
            Инструкция такая: взять банку, налить воды, поместить косточку,
            поставить в солнечное место и ждать 3 недели.
          </p>
          <p>Совсем скоро она прорастет - можете не благодарить :)</p>
        </div>
      </div>
    </div>
    <img src="/assets/orange.png" alt="" class="bubbles pos9" />
    <img src="/assets/orange.png" alt="" class="bubbles pos10" />
    <img src="/assets/orange.png" alt="" class="bubbles pos11" />
    <img src="/assets/orange.png" alt="" class="bubbles pos12" />
    <img src="/assets/orange.png" alt="" class="bubbles pos13" />
    <img src="/assets/orange.png" alt="" class="bubbles pos14" />
  </section>
  <app-faded-tetx></app-faded-tetx>
  <app-banner></app-banner>
</div>
